<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>FlightNo</th>
      <th>departs</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(flight) { %>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= (new Date(flight.departs)).toLocaleString('en-US', { hour12: false }).slice(0, 17) %></td>

        

      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>  
